#Pycache files
lib/__pycache__
__pycache__
# Ignore shape files
data/*.shp 
data/*.dbf 
data/*.prj
data/*.shx
data/*.txt
data/*.html

# Local & development files which may be ignored
.DS_Store
.vscode/.ropeproject/objectdb