#Pycache files
lib/__pycache__
__pycache__
*.pyc
# Ignore shape and binary files
data/*.shp 
data/*.dbf 
data/*.prj
data/*.shx
data/*.txt
data/*.html
data/*.cpg
data/*.zip
*.zip

# Local & development files which may be ignored
.DS_Store
.vscode/.ropeproject/objectdb